body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

#section_search {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section_search #wrapper_input_search {
  width: 100%;
  display: flex;
  align-items: center;
}
#section_search #wrapper_input_search input[type=search] {
  width: 100%;
  height: 50px;
  background-color: rgb(224, 224, 224);
  border: 0;
  padding: 10px;
  border-radius: 5px;
}
#section_search #wrapper_input_search ion-icon {
  color: black;
  margin-left: -50px;
  font-size: 30px;
}

#error {
  color: red;
  font-weight: bold;
}

.tag {
  padding: 15px;
  width: 100%;
  display: flex;
}
.tag .taglist {
  color: white;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 35px;
  background-color: #0072ff;
  border-radius: 5px;
}
.tag .taglist ion-icon {
  cursor: pointer;
  font-size: 20px;
}
.tag .taglist p {
  margin-right: 20px;
  font-size: 20px;
}

#wrapper_dropdown_search {
  display: flex;
  width: 100%;
}
#wrapper_dropdown_search .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  background-color: #0072ff;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 20px;
  color: white;
  padding: 10px;
}
#wrapper_dropdown_search .dropdown input[type=search] {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient {
  width: 100%;
  cursor: auto;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient .Dplistingredient {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient .Dplistingredient ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient .Dplistingredient ul li {
  list-style: none;
  width: 14.2857142857%;
  padding: 4px 0 4px 20px;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient .Dplistingredient ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#wrapper_dropdown_search .dropdown .dropdown-content-ingredient .Dplistingredient ul li a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4509803922);
}
#wrapper_dropdown_search .dropdown:nth-child(2) {
  background-color: #20d47a;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil {
  width: 100%;
  cursor: auto;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil .Dplistingredient {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil .Dplistingredient ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil .Dplistingredient ul li {
  list-style: none;
  width: 14.2857142857%;
  padding: 4px 0 4px 20px;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil .Dplistingredient ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#wrapper_dropdown_search .dropdown:nth-child(2) .dropdown-content-appareil .Dplistingredient ul li a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4509803922);
}
#wrapper_dropdown_search .dropdown:nth-child(3) {
  background-color: #ed6454;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil {
  width: 100%;
  cursor: auto;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil .Dplistingredient {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil .Dplistingredient ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil .Dplistingredient ul li {
  display: flex;
  align-items: center;
  list-style: none;
  width: 16.6666666667%;
  padding: 4px 0 4px 10px;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil .Dplistingredient ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
#wrapper_dropdown_search .dropdown:nth-child(3) .dropdown-content-ustencil .Dplistingredient ul li a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4509803922);
}
#wrapper_dropdown_search .dropdown:hover {
  cursor: pointer;
}

#section_recipe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 50px;
}
#section_recipe article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 300px;
  width: calc(33.3333333333% - 30px);
  height: 500px;
  background-color: #b1b1b1;
  margin-bottom: 35px;
  border-radius: 5px;
}
#section_recipe article .legendecard {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}
#section_recipe article .legendecard .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}
#section_recipe article .legendecard .title span {
  font-weight: bold;
  font-size: 20px;
}
#section_recipe article .legendecard .content {
  display: flex;
  width: 100%;
}
#section_recipe article .legendecard .content .ingredient {
  width: 50%;
}
#section_recipe article .legendecard .content .ingredient ul {
  padding: 10px;
}
#section_recipe article .legendecard .content .ingredient ul li {
  list-style: none;
}
#section_recipe article .legendecard .content .ingredient ul li span {
  font-weight: bold;
}
#section_recipe article .legendecard .content .descriptif {
  width: 50%;
  overflow: hidden;
}
#section_recipe article .legendecard .content .descriptif p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}/*# sourceMappingURL=style.css.map */