#section_recipe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;

    article {
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-width: 300px;
        width: calc(100% / 3 - 30px);
        height: 500px;
        background-color: #b1b1b1;
        margin-bottom: 35px;
        border-radius: 5px;

        .legendecard {
            width: 100%;
            height: 300px;
            background-color: #ddd;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 7px;

                span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            .content {
                display: flex;
                width: 100%;

                .ingredient {
                    width: calc(100%/2);

                    ul {
                        padding: 10px;

                        li {

                            list-style: none;

                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .descriptif {
                    width: calc(100%/2);
                    overflow: hidden;

                    p {

                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}